@import "modern-normalize";

:root {
  line-height: 1.5;
  font-size: 16px;
}

@font-face {
  font-family: "Norse";
  src: url("fonts/Norse.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Norse";
  src: url("fonts/Norsebold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "cochin";
  src: url("fonts/Cochin.ttc") format("truetype");
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  background-color: black;
}

.full-container {
  display: flex;
  justify-content: center;
}

.choc {
  width: 35vw;
}

.right-side {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 40vw;
  justify-content: flex-start;
}

form {
  background-color: seashell;
  width: 40vw;
  align-items: flex-start;
  font-size: 1.1rem;
  padding-bottom: 10px;
  font-family: "cochin", sans-serif;
}

button {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: brown;
  color: white;
  font-family: "cochin", sans-serif;
  font-size: 1.1rem;
}

p {
  font-size: 1.4rem;
  margin: 10px;
  font-family: "cochin", sans-serif;
  font-weight: 600;
  color: black;
  padding: 20px;
}

h4 {
  font-family: "cochin", sans-serif;
  margin-left: 20px;
}

h2 {
  font-family: "cochin", sans-serif;
  font-weight: 500;
  margin: 10px;
}

.form-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 200px 200px;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
}

.input-item {
  margin: 5px;
}

input {
  width: 200px;
  border-radius: 5px;
}

p,
form,
button,
h4 {
  position: relative;
  top: 80px;
}

.logoBackground {
  width: 35vw;
  height: 15vh;
  background-color: black;
  position: absolute;
  bottom: 20px;
  left: 172px;
  opacity: 40%;
}

.odin-logo {
  height: 12vh;
  position: absolute;
  bottom: 30px;
  left: 180px;
}

.odin-choc {
  font-family: "Norse", sans-serif;
  color: white;
  position: absolute;
  bottom: 15px;
  left: 255px;
  font-weight: 900;
  font-size: 80px;
}

.photo-credit {
  color: white;
  position: absolute;
  top: 740px;
  left: 270px;
  opacity: 50%;
  font-size: 0.8rem;
}
